# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- List popular Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Ggplot2

| Data Science Tools |
| -------            |
| Hadoop             |
| Spark              |
| Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200
hor=min/60
print("200 minutes correspond to", hor, "hours")

200 minutes correspond to 3.3333333333333335 hours

## Author
Gideao Amaral